@model OnlineShopingWeb.Models.Product.SubCategory
@*@model IEnumerable<OnlineShopingWeb.Models.Product.SubCategory>*@

@{
    ViewBag.Title = "AddSubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        Add Sub Category
        @*   <small>Preview</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Add Sub category</li>
    </ol>
</section>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
@*            @Html.LabelFor(model => model.Category_id, "Category_id", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Category_id, @ViewBag.CList as SelectList, "--select--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Sub Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.SubCategory_Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-6">
                @Html.EditorFor(model => model.SubCategory_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategory_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Category Id</th>
                <th>Sub Category</th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0; }
            @foreach (var item in ViewBag.SubCategoryList)
            {
                count++;
                <tr>
                    <td>@count </td>
                    <td>@item.Category_id</td>
                    <td>@item.SubCategory_Name</td>
                    <td>
                        @Html.ActionLink("Edit", "EditSubCategory", new { id = item.SubCategory_id }) |
                     @*   @Html.ActionLink("Details", "Details", new { id = item.SubCategory_id }) |*@
                        @Html.ActionLink("Delete", "DeleteSubCategory", new { id = item.SubCategory_id }, new { onclick = "return confirm('Are you sure want to delete this record?')" })


                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>
