@model IEnumerable<OnlineShopingWeb.Models.UserModel.User>

@{
    ViewBag.Title = "Userlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        User List
        @*   <small>Preview</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User List</li>
    </ol>
</section>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.UserStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.UserStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.User_id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.User_id }) |*@
            @Html.ActionLink("Delete", "DeleteUser", new { id=item.User_id }, new { onclick = "return confirm('Are you sure want to delete this record?')" })
        </td>
    </tr>
}

</table>
