@model IEnumerable<OnlineShopingWeb.Models.ProductModel.Product>

@{
    ViewBag.Title = "Index";
    //    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="@Url.Action("AddProduct","Product")">admin</a>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                      
                            @if (item.Product_Image == null)
                            {
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." height="175px;"/>

                            }
                            else
                            {
                                <img class="card-img-top" src="@Url.Content(item.Product_Image)" alt="..." height="175px;"/>

                            }
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Product_Name</h5>
                                <!-- Product reviews-->
                                @*<div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>*@
                                <!-- Product price-->
                                @item.Price
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
 </section>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SubCategory.SubCategory_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product_Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubCategory.SubCategory_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product_Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Product_id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Product_id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Product_id })
                        </td>
                    </tr>
                }

            </table>

    